#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #635985 ;
    box-sizing: 100%;
    text-align: center;
}

a{
    text-decoration: none;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#443C68;
    box-sizing: 50%;
    text-align: center;
    font-size: 2em;
    color:black;

}

header{
padding: 0;
    text-align: center;
    background-color: #393053;
    font-size: 20px;
    color:white 
    
    
}

div{
    align-items: center;
    font-size: 15px;
}

img{
    width: 20%;
}

#contacto{
    text-align: left;

}

nav{
    box-sizing:content-box;

}

#footer{
    text-align: center;
    background-color: #18122B;
    font-size: 20px;
    color:white  
}